@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --button-primary:#3e84f4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  
  font-family: Arial, Helvetica, sans-serif;
}

.form__input--section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form__input--section input:focus {
  outline: 1px solid var(--blue);
}
