@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ada386;
  --white-color: #f5f5f5;
  --font-josefin-slab: "Josefin Slab", serif;
  --font-josefin-sans: "Josefin Sans", sans-serif;
  --font-roboto: "Roboto", serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  
  font-family: Arial, Helvetica, sans-serif;
}

.form__input--section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form__input--section input:focus {
  outline: 1px solid var(--blue);
}
